

  /* ------------------------------------------------- */


  body {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #4b4b4b;
  }
  
  /* ----- fixed elements ----- */
  
  /* background - size of the screen */
  .p-ovalShape {
    position: fixed;
    /* Keeps the oval in the same place even when scrolling */
    width: 1032px;
    /* Width of the oval */
    height: 1480px;
    /* Height of the oval */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    /* Makes the div into an oval */
    top: 50%;
    /* Position from the top of the viewport */
    left: 50%;
    /* Position from the left of the viewport */
    transform: translate(-50%, -50%);
    /* Centers the oval perfectly */
    z-index: -2;
    /* render in the background */
  }
  
  .p-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    z-index: -1;
  }
  
  /* header holds information like student name and major */
  .p-header {
    position: fixed;
    top: 17%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  .p-name {}
  
  .p-major {}
  
  .p-footer {
    position: fixed;
    top: 83%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  .p-footerTitle {}
  
  .p-page-number {}
  
  /* ----- dynamic elements ----- */
  .p-projectContainer{
   text-align: center;
  }
  
  .p-pageContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  /* --- */
  /* contains tile and subtitle */
  .p-titleHeading {}

  .p-title {
    font-size: 48px;
    font-weight: 600;

    color: red;
  }

  .p-subtitle {
    color: orange;
  }

  .p-mediaContainer {
    background-color: blueviolet;
    border-radius:2em;
  }

  .p-media {

  }

  

  .p-text {

  }

  
  
  /* --- landscape video --- */
  

  .p-landscape-video {
    width: 874px;
    height: 492px;

    margin-left: 102px;
  }

  .p-landscape-video-text {
    color: red;

    column-count: 2;
    column-width: 300px;
    column-gap: 24px;
  
    margin: 24px 210px;
  }
  
  /* --- landscape image --- */
  

  .p-landscape-img {
    width: 650px;
    height: 411px;

    margin-left: 215px;
  }

  .p-landscape-img-text {
    width: 538px;

    margin-left: 215px;
  }
  
  /* --- portrait video--- */
  

  .p-portrait-video {
    width: 484px;
    height: 860px;

    margin-left: 298px;
  }

  .p-portrait-video-text {
    color: green;

    width: 424px;
    height: auto;
    margin-left: 304px;
  }
  /* --- portrait image --- */
  
  .p-portrait-img {
    width: 423px;
    height: 639px;

   
  }
  
  /* ----- */
  
  p {
    font-size: 16px;
    color: aqua;
  }

  img {
    width: 100%;
    height: auto;

    
  }